<h4> Test Data </h4>

In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt
import csv
import os
import glob

In [2]:
def import_data(folder_name):

    
    '''
    takes a folder in the specified location on the local machine
    reads csv files in a folder and creates a header while collecting each file path
    '''
    folder_name = str(folder_name)
    paths = glob.glob(f'C:\\Users\\Mark\\Documents\\DataSci\\{folder_name}\\*.csv')
    print(f'Header file {paths[-1]}')
    with open(paths[-1], newline='') as f:
        reader = csv.reader(f, delimiter=',')
        for cols in reader:
            print(cols)
    print(len(cols))
    paths_drop_header = paths[:-1]
    print(len(paths), len(paths_drop_header))
    return paths_drop_header, cols, folder_name

In [3]:
def create_df(paths, cols): 
    '''
    takes a list of paths to csv files and a list of column names
    loops through and create dataframe from seperate csv file paths
    '''
    df = pd.DataFrame()
    count = 0
    listed = list()
    for i, path in enumerate(paths):
        if count % 10 == 0: 
            print(count, end = "...")
        count += 1
        with open(path, newline='') as f:
            reader = csv.reader(f, delimiter=',')
            for l in reader:
                item = pd.DataFrame([l])
                listed.append(item)
    df = pd.concat([i for i in listed], axis=0)
    print(df.shape)
    df.columns = cols
    df.head(1)
    return df

In [94]:
la_ola_lanai = glob.glob('C:\\Users\\Mark\\Documents\\DataSci\\La_Ola_Lanai_Solar_Data\\*.csv')

In [112]:
cols

['',
 'Year',
 'DOY',
 'HST',
 'Global Horizontal [W/m^2]',
 'Direct Normal [W/m^2]',
 'Diffuse Horizontal [W/m^2]',
 'Air Temperature [deg C]',
 'Station Pressure [mBar]',
 'Avg Wind Speed @ 3m [m/s]',
 'Avg Wind Direction @ 3m [deg from N]',
 'Avg Wind Direction (std dev) @ 3m [deg]',
 'Avg Wind Speed (std dev) @ 3m [m/s]',
 'Peak Wind Speed @ 3m [m/s]',
 'Global (uncorrected) [W/m^2]',
 'Direct (uncorrected) [W/m^2]',
 'Diffuse (uncorrected) [W/m^2]',
 'Global (secondary) [W/m^2]',
 'GPS Status',
 'Zenith Angle [degrees]',
 'Azimuth Angle [degrees]',
 'CR1000 Temp [deg C]',
 'RSR Battery [VDC]',
 'Rel Humidity [%]',
 'Latitude [deg]',
 'Longitude [deg]']

In [106]:
with open(lo_ola_lanai[-1], newline='') as f:
    reader = csv.reader(f, delimiter=',')
    for cols in reader:
        print(cols)
print(len(cols))
paths2_drop_header = paths2[:-1]
print(len(paths2), len(paths2_drop_header))

['', 'Year', 'DOY', 'HST', 'Global Horizontal [W/m^2]', 'Direct Normal [W/m^2]', 'Diffuse Horizontal [W/m^2]', 'Air Temperature [deg C]', 'Station Pressure [mBar]', 'Avg Wind Speed @ 3m [m/s]', 'Avg Wind Direction @ 3m [deg from N]', 'Avg Wind Direction (std dev) @ 3m [deg]', 'Avg Wind Speed (std dev) @ 3m [m/s]', 'Peak Wind Speed @ 3m [m/s]', 'Global (uncorrected) [W/m^2]', 'Direct (uncorrected) [W/m^2]', 'Diffuse (uncorrected) [W/m^2]', 'Global (secondary) [W/m^2]', 'GPS Status', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'CR1000 Temp [deg C]', 'RSR Battery [VDC]', 'Rel Humidity [%]', 'Latitude [deg]', 'Longitude [deg]']
26
368 367

In [108]:
df2 = pd.DataFrame()
count = 0
listed = list()
for i, path in enumerate(paths2_drop_header):
    count += 1
    print(count)
    with open(path, newline='') as f:
        reader = csv.reader(f, delimiter=',')
        for l in reader:
            item = pd.DataFrame([l])
            listed.append(item)
df2 = pd.concat([i for i in listed], axis=0)
df2.shape

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367

(528238, 26)

In [114]:
df2.columns = cols
df2.head()

,,Year,DOY,HST,Global Horizontal [W/m^2],Direct Normal [W/m^2],Diffuse Horizontal [W/m^2],Air Temperature [deg C],Station Pressure [mBar],Avg Wind Speed @ 3m [m/s],...,Diffuse (uncorrected) [W/m^2],Global (secondary) [W/m^2],GPS Status,Zenith Angle [degrees],Azimuth Angle [degrees],CR1000 Temp [deg C],RSR Battery [VDC],Rel Humidity [%],Latitude [deg],Longitude [deg]
0,0,2011,348,0,0,0,0,17.54,973,2.688,...,0,0.109366,-1,174.2,244.1,17.21,12.98,96,20.7669,-156.923
0,0,2011,348,1,0,0,0,17.55,973,2.575,...,0,0,-1,174.4,243.1,17.21,12.98,96,20.7669,-156.923
0,0,2011,348,2,0.040336,0,0.040336,17.52,973,2.563,...,0.036322,0.072911,-1,174.6,242.1,17.21,12.99,95.9,20.7669,-156.923
0,0,2011,348,3,0.403356,0,0.403356,17.49,973,2.788,...,0.363218,0.692651,0,174.8,240.9,17.21,12.95,95.9,20.7669,-156.923
0,0,2011,348,4,0.363021,0,0.363021,17.5,973,2.975,...,0.326896,0.619740,0,175.1,239.7,17.21,12.94,95.9,20.7669,-156.923

In [115]:
La_Ola_Lanai_df = df2
La_Ola_Lanai_df.to_csv('La_Ola_Lanai_Solar_Data.csv', sep='\t', encoding='utf-8', index = True)

In [116]:
paths3 = glob.glob('C:\\Users\\Mark\\Documents\\DataSci\\DIA_Solar_Data\\*.csv')

In [117]:
with open(paths3[-1], newline='') as f:
    reader = csv.reader(f, delimiter=',')
    for cols in reader:
        print(cols)
print(len(cols))
paths3_drop_header = paths3[:-1]
print(len(paths3), len(paths3_drop_header))

['', 'Year', 'DOY', 'MST', 'Global Horizontal [W/m^2]', 'Direct Normal [W/m^2]', 'Diffuse Horizontal [W/m^2]', 'Station Pressure [mBar]', 'Avg Wind Speed @ 10m [m/s]', 'Avg Wind Direction @ 10m [deg from N]', 'Avg Wind Direction (std dev) @ 10m [deg]', 'Avg Wind Speed (std dev) @ 10m [m/s]', 'Peak Wind Speed @ 10m [m/s]', 'Wind Direction @ Pk WS @ 10m [deg from N]', 'Air Temperature [deg C]', 'Rel Humidity [%]', 'CR1000 Temp [deg C]', 'CR1000 Battery [VDC]', 'CR1000 Process Time (max) [s]', 'Global Horizontal (zenith corr) [W/m^2]', 'Precipitation [mm]', 'Precipitation (Accumulated) [mm]', 'CMP22 Temp [deg C]', 'Wind Chill Temp [deg C]', 'Dew Point Temp [deg C]', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'Airmass', '2AP Clock Status', 'Current BlackPhoton-Top [mA]', 'Current BlackPhoton-Mid [mA]', 'Current BlackPhoton-Bot [mA]', 'BlackPhoton Temp [deg C]', 'Direct BlackPhoton-Top [W/m^2]', 'Direct BlackPhoton-Mid [W/m^2]', 'Direct BlackPhoton-Bot [W/m^2]']
36
366 365

In [118]:

df3 = pd.DataFrame()
count = 0
listed = list()
for i, path in enumerate(paths3_drop_header):
    count += 1
    print(count)
    with open(path, newline='') as f:
        reader = csv.reader(f, delimiter=',')
        for l in reader:
            item = pd.DataFrame([l])
            listed.append(item)
df3 = pd.concat([i for i in listed], axis=0)
df3.shape

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365

(525549, 36)

In [119]:
df3.columns = cols
df3.head()

,,Year,DOY,MST,Global Horizontal [W/m^2],Direct Normal [W/m^2],Diffuse Horizontal [W/m^2],Station Pressure [mBar],Avg Wind Speed @ 10m [m/s],Avg Wind Direction @ 10m [deg from N],...,Azimuth Angle [degrees],Airmass,2AP Clock Status,Current BlackPhoton-Top [mA],Current BlackPhoton-Mid [mA],Current BlackPhoton-Bot [mA],BlackPhoton Temp [deg C],Direct BlackPhoton-Top [W/m^2],Direct BlackPhoton-Mid [W/m^2],Direct BlackPhoton-Bot [W/m^2]
0,0,2018,220,0,-1.73055,-1.11492,-0.381338,836.032,2.887,192.8,...,358.791,-7999,-1,3.5E-05,0.000022,0,11.4853,0.050971,0.029018,0
0,0,2018,220,1,-1.73054,-1.04059,-0.381337,836.021,3.275,187.6,...,359.082,-7999,-1,0.000042,2.5E-05,0,11.4685,0.060680,0.033482,0
0,0,2018,220,2,-1.73054,-0.712310,-0.381336,836.037,3.4,188.4,...,359.372,-7999,-1,0.000037,1.5E-05,0,11.47,0.053398,0.020089,0
0,0,2018,220,3,-1.73053,-0.396415,-0.381335,836.024,3.25,186.4,...,359.659,-7999,-1,4E-05,0.000022,0,11.4823,0.058252,0.029018,0
0,0,2018,220,4,-1.73053,-0.371638,-0.381334,836.027,3.787,185.8,...,359.952,-7999,-1,4.5E-05,0.000012,0,11.4957,0.065534,0.015625,0

In [120]:
DIA_Solar_Data_df = df3
DIA_Solar_Data_df.to_csv('DIA_Solar_Data.csv', sep='\t', encoding='utf-8', index = True)

In [193]:
%who

DIA_Solar_Data_df	 La_Ola_Lanai_df	 South_Park_df	 StandardScaler	 col	 cols	 count	 create_df	 csv
df	 df2	 df3	 f	 glob	 i	 idx	 import_data	 item
joined_df	 l	 listed	 np	 num	 os	 path	 paths	 paths2
paths2_drop_header	 paths3	 paths3_drop_header	 paths_drop_header	 pd	 plt	 reader	 test	 test1
test2	 test_df	 test_list

In [204]:
sac_paths, sac_cols, folder_name = import_data('Sacramento_Solar_Data')

Header file C:\Users\Mark\Documents\DataSci\Sacramento_Solar_Data\header.csv
['', 'Year', 'DOY', 'EST', 'Global PSP [W/m^2]', 'Diffuse PSP (sband) [W/m^2]', 'Direct NIP [W/m^2]', 'Avg Wind Speed @ 50ft [m/s]', 'Avg Wind Direction @ 50ft [deg from N]', 'Roof Temp [deg C]', 'Roof RH [%]', 'Station Pressure [mBar]', 'CR10 Temp [deg C]', 'Peak Wind Speed @ 50ft [m/s]', 'CR10 Battery [VDC]', 'Diffuse PSP (sband corr) [W/m^2]', 'BB Aerosol Optical Depth', 'Roof Wind Chill Temp [deg C]', 'Roof Dew Point Temp [deg C]', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'Airmass']
22
244 243

In [205]:
df_sac = create_df(sac_paths, sac_cols)

0...10...20...30...40...50...60...70...80...90...100...110...120...130...140...150...160...170...180...190...200...210...220...230...240...(69984, 22)

In [207]:
df_sac.head(1)

,,Year,DOY,EST,Global PSP [W/m^2],Diffuse PSP (sband) [W/m^2],Direct NIP [W/m^2],Avg Wind Speed @ 50ft [m/s],Avg Wind Direction @ 50ft [deg from N],Roof Temp [deg C],...,CR10 Temp [deg C],Peak Wind Speed @ 50ft [m/s],CR10 Battery [VDC],Diffuse PSP (sband corr) [W/m^2],BB Aerosol Optical Depth,Roof Wind Chill Temp [deg C],Roof Dew Point Temp [deg C],Zenith Angle [degrees],Azimuth Angle [degrees],Airmass
0,33,2013,323,0,-5.9519,-5.5444,-99999,1.353,331.7,12.3,...,11.5,2.856,12.68,-5.5444,0,12.3,6.005,163.07407,7.93150,-1

In [212]:
df_sac.to_csv('Sacramento_Solar_Data.csv', sep='\t', encoding='utf-8', index = True)

The fourth iteration should be able to handle the rest of the data

In [239]:
folders = ['DIA_Solar_Data', 'La_Ola_Lanai_Solar_Data', 'Sacramento_Solar_Data' 'North_Carolina_Solar_Data', 'Humboldt_State_Solar_Data', 'Las_Vegas_Solar_Data', 'New_Mexico_ABQ_Solar_Data']

In [236]:
test_paths, test_cols, _name = import_data(f'{remaining_folders[0]}')
df_test = create_df(sac_paths, sac_cols)
df_test['location'] = _name
df_test.to_csv(f'{_name}.csv', sep='\t', encoding='utf-8', index = True)

Header file C:\Users\Mark\Documents\DataSci\North_Carolina_Solar_Data\header.csv
['', 'Year', 'DOY', 'EST', 'Global PSP [W/m^2]', 'Diffuse PSP (sband) [W/m^2]', 'Direct NIP [W/m^2]', 'Avg Wind Speed @ 50ft [m/s]', 'Avg Wind Direction @ 50ft [deg from N]', 'Roof Temp [deg C]', 'Roof RH [%]', 'Station Pressure [mBar]', 'CR10 Temp [deg C]', 'Peak Wind Speed @ 50ft [m/s]', 'CR10 Battery [VDC]', 'Diffuse PSP (sband corr) [W/m^2]', 'BB Aerosol Optical Depth', 'Roof Wind Chill Temp [deg C]', 'Roof Dew Point Temp [deg C]', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'Airmass']
22
275 274

In [245]:
for idx, location in enumerate(remaining_folders):
    print(idx)

0
1
2
3

In [257]:
dfs = {}
for idx, location in enumerate(remaining_folders):
    _paths, _cols, _name = import_data(location)
    df_ = create_df(_paths, _cols)
    df_['location'] = _name
    dfs[_name] = df_
    print('Dataframe added to dictionary')
    df_.to_csv(f'{_name}.csv', sep='\t', encoding='utf-8', index = True)
    print(f'Dataframe saved to "{_name}.csv"')

Header file C:\Users\Mark\Documents\DataSci\North_Carolina_Solar_Data\header.csv
['', 'Year', 'DOY', 'EST', 'Global PSP [W/m^2]', 'Diffuse PSP (sband) [W/m^2]', 'Direct NIP [W/m^2]', 'Avg Wind Speed @ 50ft [m/s]', 'Avg Wind Direction @ 50ft [deg from N]', 'Roof Temp [deg C]', 'Roof RH [%]', 'Station Pressure [mBar]', 'CR10 Temp [deg C]', 'Peak Wind Speed @ 50ft [m/s]', 'CR10 Battery [VDC]', 'Diffuse PSP (sband corr) [W/m^2]', 'BB Aerosol Optical Depth', 'Roof Wind Chill Temp [deg C]', 'Roof Dew Point Temp [deg C]', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'Airmass']
22
275 274
0...10...20...30...40...50...60...70...80...90...100...110...120...130...140...150...160...170...180...190...200...210...220...230...240...250...260...270...(78912, 22)
Dataframe added to dictionary
Dataframe saved to "North_Carolina_Solar_Data.csv"
Header file C:\Users\Mark\Documents\DataSci\Humboldt_State_Solar_Data\header.csv
['', 'Year', 'DOY', 'PST', 'Global Horiz [W/m^2]', 'Diffuse Horiz (shadowband) [W/m^2]', 'CR510 Battery [VDC]', 'CR510 Temp [deg C]', 'Diffuse Horiz (band corr) [W/m^2]', 'Direct Normal (calc) [W/m^2]', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'Airmass']
13
367 366
0...10...20...30...40...50...60...70...80...90...100...110...120...130...140...150...160...170...180...190...200...210...220...230...240...250...260...270...280...290...300...310...320...330...340...350...360...(527041, 13)
Dataframe added to dictionary
Dataframe saved to "Humboldt_State_Solar_Data.csv"
Header file C:\Users\Mark\Documents\DataSci\Las_Vegas_Solar_Data\header.csv
['', 'Year', 'DOY', 'PST', 'Direct Normal [W/m^2]', 'Global Horiz [W/m^2]', 'Global UVA [W/m^2]', 'Global UVE [W/m^2]', 'Global UVE [Index]', 'Dry Bulb Temp [deg C]', 'Avg Wind Speed @ 30ft [m/s]', 'Avg Wind Direction @ 30ft [deg from N]', 'Peak Wind Speed @ 30ft [m/s]', 'UVSAET Temp [deg C]', 'Logger Temp [deg C]', 'Logger Battery [VDC]', 'Wind Chill Temp [deg C]', 'Diffuse Horiz (calc) [W/m^2]', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'Airmass']
21
367 366
0...10...20...30...40...50...60...70...80...90...100...110...120...130...140...150...160...170...180...190...200...210...220...230...240...250...260...270...280...290...300...310...320...330...340...350...360...(527035, 21)
Dataframe added to dictionary
Dataframe saved to "Las_Vegas_Solar_Data.csv"
Header file C:\Users\Mark\Documents\DataSci\New_Mexico_ABQ_Solar_Data\header.csv
['', 'Year', 'DOY', 'MST', 'Global Horizontal [W/m^2]', 'Direct Normal [W/m^2]', 'Diffuse Horizontal [W/m^2]', 'Air Temperature [deg C]', 'Station Pressure [mBar]', 'Avg Wind Speed @ 3m [m/s]', 'Avg Wind Direction @ 3m [deg from N]', 'Avg Wind Direction (std dev) @ 3m [deg]', 'Avg Wind Speed (std dev) @ 3m [m/s]', 'Peak Wind Speed @ 3m [m/s]', 'Global (uncorrected) [W/m^2]', 'Direct (uncorrected) [W/m^2]', 'Diffuse (uncorrected) [W/m^2]', 'Global (secondary) [W/m^2]', '', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'CR800 Temp [deg C]', 'RSR Battery [VDC]', 'Rel Humidity [%]']
24
214 213
0...10...20...30...40...50...60...70...80...90...100...110...120...130...140...150...160...170...180...190...200...210...(306720, 24)
Dataframe added to dictionary
Dataframe saved to "New_Mexico_ABQ_Solar_Data.csv"

In [260]:
df2['location'] = 'La_Ola_Lanai_Hawaii'
df3['location'] = 'Colorado_Denver'
df_sac['location'] = 'California_Sacramento'

In [282]:
joined_df = pd.concat([df3, df2], sort=False)

In [283]:
joined_df.shape

(1053787, 52)

In [5]:
joining = {}
folder_name = 'Module 5'
paths = glob.glob(f'C:\\Users\\Mark\\Documents\\DataSci\\{folder_name}\\*.csv')
for i in range(0,8):
    
    joining[i] = pd.read_csv(paths[i], sep = "\t")

In [28]:
sac_df = pd.read_csv('Sacramento_Solar_Data.csv', sep='\t')
sac_df.head()

,Unnamed: 0,Unnamed: 1,Year,DOY,EST,Global PSP [W/m^2],Diffuse PSP (sband) [W/m^2],Direct NIP [W/m^2],Avg Wind Speed @ 50ft [m/s],Avg Wind Direction @ 50ft [deg from N],...,CR10 Temp [deg C],Peak Wind Speed @ 50ft [m/s],CR10 Battery [VDC],Diffuse PSP (sband corr) [W/m^2],BB Aerosol Optical Depth,Roof Wind Chill Temp [deg C],Roof Dew Point Temp [deg C],Zenith Angle [degrees],Azimuth Angle [degrees],Airmass
0,0,33,2013,323,0,-5.9519,-5.5444,-99999.0,1.353,331.7,...,11.50,2.856,12.68,-5.5444,0.0,12.300,6.005,163.07407,7.93150,-1.0
1,0,33,2013,323,5,-5.7765,-5.3525,-99999.0,1.493,335.1,...,11.43,2.666,12.68,-5.3525,0.0,12.043,6.112,162.90117,11.91544,-1.0
2,0,33,2013,323,10,-6.3029,-5.6589,-99999.0,0.891,338.3,...,11.36,2.476,12.68,-5.6589,0.0,11.830,6.150,162.66046,15.81208,-1.0
3,0,33,2013,323,15,-5.7616,-5.4356,-99999.0,1.356,335.7,...,11.27,2.666,12.68,-5.4356,0.0,11.700,5.960,162.35474,19.59810,-1.0
4,0,33,2013,323,20,-5.4999,-5.2637,-99999.0,1.196,347.9,...,11.17,2.666,12.67,-5.2637,0.0,11.660,5.963,161.98734,23.25481,-1.0

In [19]:
for i in joining.keys():
    print(f' #{i}\n{joining[i].columns}')

 #0
Index(['Unnamed: 0', 'Unnamed: 1', 'Year', 'DOY', 'MST',
       'Global Horizontal [W/m^2]', 'Direct Normal [W/m^2]',
       'Diffuse Horizontal [W/m^2]', 'Station Pressure [mBar]',
       'Avg Wind Speed @ 10m [m/s]', 'Avg Wind Direction @ 10m [deg from N]',
       'Avg Wind Direction (std dev) @ 10m [deg]',
       'Avg Wind Speed (std dev) @ 10m [m/s]', 'Peak Wind Speed @ 10m [m/s]',
       'Wind Direction @ Pk WS @ 10m [deg from N]', 'Air Temperature [deg C]',
       'Rel Humidity [%]', 'CR1000 Temp [deg C]', 'CR1000 Battery [VDC]',
       'CR1000 Process Time (max) [s]',
       'Global Horizontal (zenith corr) [W/m^2]', 'Precipitation [mm]',
       'Precipitation (Accumulated) [mm]', 'CMP22 Temp [deg C]',
       'Wind Chill Temp [deg C]', 'Dew Point Temp [deg C]',
       'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'Airmass',
       '2AP Clock Status', 'Current BlackPhoton-Top [mA]',
       'Current BlackPhoton-Mid [mA]', 'Current BlackPhoton-Bot [mA]',
       'BlackPhoton Temp [deg C]', 'Direct BlackPhoton-Top [W/m^2]',
       'Direct BlackPhoton-Mid [W/m^2]', 'Direct BlackPhoton-Bot [W/m^2]'],
      dtype='object')
 #1
Index(['Unnamed: 0', 'Unnamed: 1', 'Year', 'DOY', 'PST',
       'Global Horiz [W/m^2]', 'Diffuse Horiz (shadowband) [W/m^2]',
       'CR510 Battery [VDC]', 'CR510 Temp [deg C]',
       'Diffuse Horiz (band corr) [W/m^2]', 'Direct Normal (calc) [W/m^2]',
       'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'Airmass',
       'location'],
      dtype='object')
 #2
Index(['Unnamed: 0', 'Unnamed: 1', 'Year', 'DOY', 'PST',
       'Direct Normal [W/m^2]', 'Global Horiz [W/m^2]', 'Global UVA [W/m^2]',
       'Global UVE [W/m^2]', 'Global UVE [Index]', 'Dry Bulb Temp [deg C]',
       'Avg Wind Speed @ 30ft [m/s]', 'Avg Wind Direction @ 30ft [deg from N]',
       'Peak Wind Speed @ 30ft [m/s]', 'UVSAET Temp [deg C]',
       'Logger Temp [deg C]', 'Logger Battery [VDC]',
       'Wind Chill Temp [deg C]', 'Diffuse Horiz (calc) [W/m^2]',
       'Zenith Angle [degrees]', 'Azimuth Angle [degrees]', 'Airmass',
       'location'],
      dtype='object')
 #3
Index(['Unnamed: 0', 'Unnamed: 1', 'Year', 'DOY', 'HST',
       'Global Horizontal [W/m^2]', 'Direct Normal [W/m^2]',
       'Diffuse Horizontal [W/m^2]', 'Air Temperature [deg C]',
       'Station Pressure [mBar]', 'Avg Wind Speed @ 3m [m/s]',
       'Avg Wind Direction @ 3m [deg from N]',
       'Avg Wind Direction (std dev) @ 3m [deg]',
       'Avg Wind Speed (std dev) @ 3m [m/s]', 'Peak Wind Speed @ 3m [m/s]',
       'Global (uncorrected) [W/m^2]', 'Direct (uncorrected) [W/m^2]',
       'Diffuse (uncorrected) [W/m^2]', 'Global (secondary) [W/m^2]',
       'GPS Status', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]',
       'CR1000 Temp [deg C]', 'RSR Battery [VDC]', 'Rel Humidity [%]',
       'Latitude [deg]', 'Longitude [deg]'],
      dtype='object')
 #4
Index(['Unnamed: 0', 'Unnamed: 1', 'Year', 'DOY', 'MST',
       'Global Horizontal [W/m^2]', 'Direct Normal [W/m^2]',
       'Diffuse Horizontal [W/m^2]', 'Air Temperature [deg C]',
       'Station Pressure [mBar]', 'Avg Wind Speed @ 3m [m/s]',
       'Avg Wind Direction @ 3m [deg from N]',
       'Avg Wind Direction (std dev) @ 3m [deg]',
       'Avg Wind Speed (std dev) @ 3m [m/s]', 'Peak Wind Speed @ 3m [m/s]',
       'Global (uncorrected) [W/m^2]', 'Direct (uncorrected) [W/m^2]',
       'Diffuse (uncorrected) [W/m^2]', 'Global (secondary) [W/m^2]',
       'Unnamed: 19', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]',
       'CR800 Temp [deg C]', 'RSR Battery [VDC]', 'Rel Humidity [%]',
       'location'],
      dtype='object')
 #5
Index(['Unnamed: 0', 'Unnamed: 1', 'Year', 'DOY', 'EST', 'Global PSP [W/m^2]',
       'Diffuse PSP (sband) [W/m^2]', 'Direct NIP [W/m^2]',
       'Avg Wind Speed @ 50ft [m/s]', 'Avg Wind Direction @ 50ft [deg from N]',
       'Roof Temp [deg C]', 'Roof RH [%]', 'Station Pressure [mBar]',
       'CR10 Temp [deg C]', 'Peak Wind Speed @ 50ft [m/s]',
       'CR10 Battery [VDC]', 'Diffuse PSP (sband corr) [W/m^2]',
       'BB Aerosol Optical Depth', 'Roof Wind Chill Temp [deg C]',
       'Roof Dew Point Temp [deg C]', 'Zenith Angle [degrees]',
       'Azimuth Angle [degrees]', 'Airmass', 'location'],
      dtype='object')
 #6
Index(['Unnamed: 0', 'Unnamed: 1', 'Year', 'DOY', 'EST', 'Global PSP [W/m^2]',
       'Diffuse PSP (sband) [W/m^2]', 'Direct NIP [W/m^2]',
       'Avg Wind Speed @ 50ft [m/s]', 'Avg Wind Direction @ 50ft [deg from N]',
       'Roof Temp [deg C]', 'Roof RH [%]', 'Station Pressure [mBar]',
       'CR10 Temp [deg C]', 'Peak Wind Speed @ 50ft [m/s]',
       'CR10 Battery [VDC]', 'Diffuse PSP (sband corr) [W/m^2]',
       'BB Aerosol Optical Depth', 'Roof Wind Chill Temp [deg C]',
       'Roof Dew Point Temp [deg C]', 'Zenith Angle [degrees]',
       'Azimuth Angle [degrees]', 'Airmass'],
      dtype='object')
 #7
Index(['Unnamed: 0', 'Unnamed: 1', 'Year', 'DOY', 'EST', 'Global PSP [W/m^2]',
       'Diffuse PSP (sband) [W/m^2]', 'Direct NIP [W/m^2]',
       'Avg Wind Speed @ 50ft [m/s]', 'Avg Wind Direction @ 50ft [deg from N]',
       'Roof Temp [deg C]', 'Roof RH [%]', 'Station Pressure [mBar]',
       'CR10 Temp [deg C]', 'Peak Wind Speed @ 50ft [m/s]',
       'CR10 Battery [VDC]', 'Diffuse PSP (sband corr) [W/m^2]',
       'BB Aerosol Optical Depth', 'Roof Wind Chill Temp [deg C]',
       'Roof Dew Point Temp [deg C]', 'Zenith Angle [degrees]',
       'Azimuth Angle [degrees]', 'Airmass'],
      dtype='object')

In [30]:
for i in joining.keys():
    print(joining[i].location.unique())

['Denver_Colorado']
['Humboldt_State_Solar_Data']
['Las_Vegas_Solar_Data']
['La_Ola_Lanai_Hawaii']
['New_Mexico_ABQ_Solar_Data']
['North_Carolina_Solar_Data']
['Sacramento, CA']
['Elizabeth City NC']

In [322]:
joined_df = pd.DataFrame()
for name in joining.keys():
    joined_df = pd.concat([joined_df, joining[name].loc[:,~joining[name].columns.duplicated()]], sort=False)
    print(joined_df.shape)
print(f'final shape: {joined_df.shape}')

(525549, 38)
(1052590, 45)
(1579625, 56)
(2107863, 70)
(2414583, 72)
(2493495, 87)
(2563479, 87)
(2633463, 87)
final shape: (2633463, 87)

In [323]:
joined_df.to_csv('Joined_df.csv', sep='\t', encoding='utf-8', index = True)

<h2> Preprocessing </h2>

In [6]:
joined_df = pd.read_csv('Joined_df.csv', sep='\t', encoding='utf-8', index_col=0)

C:\Users\Mark\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [7]:
joined_df.head()

,Unnamed: 0.1,Unnamed: 1,Year,DOY,MST,Global Horizontal [W/m^2],Direct Normal [W/m^2],Diffuse Horizontal [W/m^2],Station Pressure [mBar],Avg Wind Speed @ 10m [m/s],...,Avg Wind Direction @ 50ft [deg from N],Roof Temp [deg C],Roof RH [%],CR10 Temp [deg C],Peak Wind Speed @ 50ft [m/s],CR10 Battery [VDC],Diffuse PSP (sband corr) [W/m^2],BB Aerosol Optical Depth,Roof Wind Chill Temp [deg C],Roof Dew Point Temp [deg C]
0,0,0,2018,220,0.0,-1.73055,-1.114920,-0.381338,836.032,2.887,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,2018,220,1.0,-1.73054,-1.040590,-0.381337,836.021,3.275,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,2018,220,2.0,-1.73054,-0.712310,-0.381336,836.037,3.400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,2018,220,3.0,-1.73053,-0.396415,-0.381335,836.024,3.250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,2018,220,4.0,-1.73053,-0.371638,-0.381334,836.027,3.787,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The Data we're concerned with there are many duplicate columns:
 
 <ul>
 'location', <br>
 
 'Year', <br>
 'DOY', <br>
 'PST', <br>
 'MST', <br>
 'EST', <br>
 'HST', <br>
    
    
 'Global Horizontal [W/m^2]', <br>
 'Global Horiz [W/m^2]', <br>
 'Global PSP [W/m^2]', <br>
    
    
 'Direct Normal [W/m^2]', <br>
 'Direct Normal (calc) [W/m^2]', <br>
 'Direct NIP [W/m^2]', <br>
    

 'CR1000 Battery [VDC]', <br>
 'CR510 Battery [VDC]', <br>
 'Logger Battery [VDC]', <br>
 'RSR Battery [VDC]', <br>
 'CR10 Battery [VDC]', <br>
    
 'Air Temperature [deg C]', <br>
 'Roof Temp [deg C]', <br>
 'CR510 Temp [deg C]', <br>
 'Dry Bulb Temp [deg C]', <br>
 
 'Zenith Angle [degrees]', <br>
 'Azimuth Angle [degrees]', <br>
 'Latitude [deg]', <br>
 'Longitude [deg]', <br>
    
 </ul>

In [9]:
final_columns = [
#    Location Key
 'location',
    
#    Time index
 'Year', 
 'DOY',
 'PST',
 'MST',
 'EST',
 'HST',
#    Total solar irradiation       
 'Global Horizontal [W/m^2]',
 'Global Horiz [W/m^2]',
 'Global PSP [W/m^2]',
#     Direct solar       
 'Direct Normal [W/m^2]',
 'Direct Normal (calc) [W/m^2]',    
 'Direct NIP [W/m^2]',
#     Tempurature
 'Air Temperature [deg C]',
 'Roof Temp [deg C]', 
 'CR510 Temp [deg C]', 
 'Dry Bulb Temp [deg C]' ,  
#     sun location
 'Zenith Angle [degrees]', 
 'Azimuth Angle [degrees]',
#     coordinates (missing values)
 'Latitude [deg]', 
 'Longitude [deg]']
#     battery DC voltage (eliminated as a possible target varible in this version)
#  'CR1000 Battery [VDC]',
#  'CR510 Battery [VDC]',
#  'Logger Battery [VDC]',
#  'RSR Battery [VDC]',
#  'CR10 Battery [VDC]']

In [10]:
all_cols = list(joined_df.columns)
drop_cols = [item for item in all_cols if item not in final_columns]
len(drop_cols)

66

In [11]:
joined_dropped_df = joined_df.drop([i for i in drop_cols], axis = 1)
joined_dropped_df = joined_dropped_df.reset_index(drop = True)

In [12]:
joined_dropped_df.describe()

,Year,DOY,MST,Global Horizontal [W/m^2],Direct Normal [W/m^2],Air Temperature [deg C],Zenith Angle [degrees],Azimuth Angle [degrees],PST,Global Horiz [W/m^2],CR510 Temp [deg C],Direct Normal (calc) [W/m^2],Dry Bulb Temp [deg C],HST,Latitude [deg],Longitude [deg],EST,Global PSP [W/m^2],Direct NIP [W/m^2],Roof Temp [deg C]
count,2.633463e+06,2.633463e+06,832269.000000,1.360507e+06,1.887542e+06,1.360507e+06,2.633463e+06,2.633463e+06,1.054076e+06,1.054076e+06,527041.000000,527041.000000,527035.000000,528238.000000,528238.000000,528238.000000,218880.000000,218880.000000,218880.000000,218880.000000
mean,2.016206e+03,1.731647e+02,1179.471237,2.098703e+02,2.426337e+02,1.287574e+01,8.960074e+01,1.799913e+02,1.179478e+03,1.946582e+02,13.993939,154.639891,21.552694,1179.042710,20.766901,-156.923000,1177.500000,174.374432,-98094.944500,13.746094
std,2.998652e+00,1.062966e+02,692.437524,3.090137e+02,3.683775e+02,1.344503e+01,3.873969e+01,1.000178e+02,6.924336e+02,3.246131e+02,5.704488,365.472863,10.159790,692.260416,0.000026,0.000003,692.435393,272.472167,13499.203188,9.724316
min,2.011000e+03,1.000000e+00,0.000000,-7.999000e+03,-7.999000e+03,-7.999000e+03,6.900000e-02,0.000000e+00,0.000000e+00,-9.999900e+04,-1.187000,-99999.000000,-0.303000,0.000000,20.765500,-156.924000,0.000000,-9.372200,-99999.000000,-11.010000
25%,2.013000e+03,8.200000e+01,559.000000,0.000000e+00,0.000000e+00,4.210000e+00,5.899844e+01,8.950215e+01,5.590000e+02,-2.528600e+00,10.250000,0.000000,13.090000,559.000000,20.766900,-156.923000,588.750000,-2.292600,-99999.000000,5.502750
50%,2.018000e+03,1.640000e+02,1159.000000,4.273090e+00,0.000000e+00,1.659000e+01,8.930000e+01,1.799320e+02,1.159000e+03,1.654450e+00,13.360000,0.000000,20.600000,1159.000000,20.766900,-156.923000,1177.500000,2.403700,-99999.000000,14.180000
75%,2.019000e+03,2.640000e+02,1759.000000,3.538370e+02,5.718617e+02,2.164000e+01,1.203280e+02,2.705000e+02,1.759000e+03,3.331605e+02,17.270000,23.032000,30.400000,1759.000000,20.766900,-156.923000,1766.250000,272.950000,-99999.000000,21.930000
max,2.019000e+03,3.660000e+02,2359.000000,1.495270e+03,1.099120e+03,3.744000e+01,1.799000e+02,3.600000e+02,2.359000e+03,1.473500e+03,39.700000,1666.888500,43.990000,2359.000000,20.768000,-156.922000,2355.000000,1217.600000,2224.100000,34.790000

In [13]:
joined_dropped_df.shape

(2633463, 21)

In [14]:
joined_dropped_df.isna().sum()

Year                                  0
DOY                                   0
MST                             1801194
Global Horizontal [W/m^2]       1272956
Direct Normal [W/m^2]            745921
Air Temperature [deg C]         1272956
Zenith Angle [degrees]                0
Azimuth Angle [degrees]               0
location                              0
PST                             1579387
Global Horiz [W/m^2]            1579387
CR510 Temp [deg C]              2106422
Direct Normal (calc) [W/m^2]    2106422
Dry Bulb Temp [deg C]           2106428
HST                             2105225
Latitude [deg]                  2105225
Longitude [deg]                 2105225
EST                             2414583
Global PSP [W/m^2]              2414583
Direct NIP [W/m^2]              2414583
Roof Temp [deg C]               2414583
dtype: int64

<h4> Condensing Columns </h4>
We have so many columns and many of them track the same thing.  The following function is designed to handle those redundancies and save them to a final column we can add back to the dataframe

In [15]:
global_irradiance =  ['Global Horizontal [W/m^2]', 'Global Horiz [W/m^2]', 'Global PSP [W/m^2]']

battery_DC_voltage = ['CR1000 Battery [VDC]', 'CR510 Battery [VDC]', 'Logger Battery [VDC]', 'RSR Battery [VDC]', 'CR10 Battery [VDC]']

tempurature = ['Air Temperature [deg C]',
 'Roof Temp [deg C]', 
 'CR510 Temp [deg C]', 
 'Dry Bulb Temp [deg C]']

time_zones = ['PST',
              'MST',
              'EST',
              'HST']

direct_solar = ['Direct Normal [W/m^2]',
 'Direct Normal (calc) [W/m^2]',    
 'Direct NIP [W/m^2]',]

In [16]:
def condense_columns(a_list, df):
    '''
    takes a list of columns names and their parent dataframe
    loops through the list to fill null objects
    returns a dataframe where the rightmost column has the fewest nulls
    '''
    condense = pd.DataFrame(df[a_list[0]])
    
    print(f'{condense.isna().sum()}\n...')
    for idx, i in enumerate(a_list):
        if idx+1 >= len(a_list):
            break
        elif idx == 0:
            condense[a_list[0] + str(0)] = condense[a_list[0]].fillna(df[a_list[idx+1]])
        else:
            condense[a_list[0] + str(idx)] = condense[a_list[0] + str(idx-1)].fillna(df[a_list[idx+1]])
            print(f'{condense.isna().sum()}\n...')
#         test_zones = test_zones.reset_index(drop = True)
    condense = condense.iloc[:,-1]
    return condense

In [18]:
minutes = condense_columns(time_zones, joined_dropped_df)
# batt = condense_columns(battery_DC_voltage, joined_dropped_df)
irradiance = condense_columns(global_irradiance, joined_dropped_df)
temp = condense_columns(tempurature, joined_dropped_df)
direct = condense_columns(direct_solar, joined_dropped_df)

PST    1579387
dtype: int64
...
PST     1579387
PST0     747118
PST1     528238
dtype: int64
...
PST     1579387
PST0     747118
PST1     528238
PST2          0
dtype: int64
...
Global Horizontal [W/m^2]    1272956
dtype: int64
...
Global Horizontal [W/m^2]     1272956
Global Horizontal [W/m^2]0     218880
Global Horizontal [W/m^2]1          0
dtype: int64
...
Air Temperature [deg C]    1272956
dtype: int64
...
Air Temperature [deg C]     1272956
Air Temperature [deg C]0    1054076
Air Temperature [deg C]1     527035
dtype: int64
...
Air Temperature [deg C]     1272956
Air Temperature [deg C]0    1054076
Air Temperature [deg C]1     527035
Air Temperature [deg C]2          0
dtype: int64
...
Direct Normal [W/m^2]    745921
dtype: int64
...
Direct Normal [W/m^2]     745921
Direct Normal [W/m^2]0    218880
Direct Normal [W/m^2]1         0
dtype: int64
...

In [19]:
# join updated columns to existing dataframe

joined_dropped_df['Temp [deg C]'] = temp
joined_dropped_df['Minutes'] = minutes
# joined_dropped_df['Battery [VDC]'] = batt
joined_dropped_df['Direct Irradiance [W/m^2]'] = direct
joined_dropped_df['Global Irradiance [W/m^2]'] = irradiance

In [25]:
# remove incomplete columns
list_of_lists = [global_irradiance, tempurature, time_zones, direct_solar] #, battery_DC_voltage
for li in list_of_lists:
    joined_dropped_df = joined_dropped_df.drop(li, axis = 1)

In [26]:
condensed_df = joined_dropped_df
condensed_df.isna().sum()

Year                               0
DOY                                0
Zenith Angle [degrees]             0
Azimuth Angle [degrees]            0
location                           0
Latitude [deg]               2105225
Longitude [deg]              2105225
Temp [deg C]                       0
Minutes                            0
Direct Irradiance [W/m^2]          0
Global Irradiance [W/m^2]          0
dtype: int64

In [27]:
condensed_df.shape

(2633463, 11)

<h4> Filling out Latitude and Longitude </h4>
Latitude will be an important indicator for this data.  While we're here, it won't take much more doing to complete the coordinates and will be nicer on the API calls later.

In [29]:
condensed_df[condensed_df['location'] == 'Elizabeth City NC'].head(3)

Empty DataFrame
Columns: [Year, DOY, Zenith Angle [degrees], Azimuth Angle [degrees], location, Latitude [deg], Longitude [deg], Temp [deg C], Minutes, Direct Irradiance [W/m^2], Global Irradiance [W/m^2]]
Index: []

In [30]:
condensed_df[condensed_df['location'] == 'North_Carolina_Solar_Data'].head(3)

,Year,DOY,Zenith Angle [degrees],Azimuth Angle [degrees],location,Latitude [deg],Longitude [deg],Temp [deg C],Minutes,Direct Irradiance [W/m^2],Global Irradiance [W/m^2]
2414583,2013,323,163.07407,7.93150,North_Carolina_Solar_Data,NaN,NaN,12.30,0.0,-99999.0,-5.9519
2414584,2013,323,162.90117,11.91544,North_Carolina_Solar_Data,NaN,NaN,12.07,5.0,-99999.0,-5.7765
2414585,2013,323,162.66046,15.81208,North_Carolina_Solar_Data,NaN,NaN,11.83,10.0,-99999.0,-6.3029

In [31]:
print(condensed_df[condensed_df['location'] == 'North_Carolina_Solar_Data'].shape, condensed_df[condensed_df['location'] == 'Elizabeth City NC'].shape)

(78912, 11) (0, 11)

In [32]:
condensed_df = condensed_df[condensed_df.location != 'Elizabeth City NC']
condensed_df.shape

(2563479, 11)

In [33]:
condensed_df.location.unique()

array(['Denver_Colorado', 'Humboldt_State_Solar_Data',
       'Las_Vegas_Solar_Data', 'La_Ola_Lanai_Hawaii',
       'New_Mexico_ABQ_Solar_Data', 'North_Carolina_Solar_Data',
       'Sacramento, CA'], dtype=object)

In [34]:
locations = list(joined_df.location.unique())

lat_long = [[39.75685, 104.62025], [40.876, 124.08], [36.107, 115.1425], [20.76685, 156.92291], [35.41861,108.08828], [36.282, 76.216], [38.54586, 121.24029]]

In [35]:
coordinates = {k:v for k, v in zip(locations, lat_long)}

for location in coordinates:
    print(location)
    print(coordinates[location][0])

Denver_Colorado
39.75685
Humboldt_State_Solar_Data
40.876
Las_Vegas_Solar_Data
36.107
La_Ola_Lanai_Hawaii
20.76685
New_Mexico_ABQ_Solar_Data
35.41861
North_Carolina_Solar_Data
36.282
Sacramento, CA
38.54586

In [36]:
coordinates.values()

dict_values([[39.75685, 104.62025], [40.876, 124.08], [36.107, 115.1425], [20.76685, 156.92291], [35.41861, 108.08828], [36.282, 76.216], [38.54586, 121.24029]])

In [37]:
def add_coordinates(coordinates, df):
    '''
    takes a dict of location keys and latitude and longitude as listed pairs as values
    takes a dataframe with columns 'location' 'Latitude [deg]' 'Longitude [deg]'
    adds hardcoded coordinates to the named locations
    outputs the updated dataframe
    '''
    for location in coordinates:
        df['Latitude [deg]'] = np.where(df['location'] == location, coordinates[location][0],
                                           df['Latitude [deg]'])
        df['Longitude [deg]'] = np.where(df['location'] == location, coordinates[location][1],
                                           df['Longitude [deg]'])
#     we won't be needing this anymore
    df.drop(['location'], axis = 1, inplace = True)
    return df

In [38]:
condensed_df = add_coordinates(coordinates, condensed_df)

In [39]:
condensed_df.isna().sum()

Year                         0
DOY                          0
Zenith Angle [degrees]       0
Azimuth Angle [degrees]      0
Latitude [deg]               0
Longitude [deg]              0
Temp [deg C]                 0
Minutes                      0
Direct Irradiance [W/m^2]    0
Global Irradiance [W/m^2]    0
dtype: int64

In [40]:
condensed_df.describe()

,Year,DOY,Zenith Angle [degrees],Azimuth Angle [degrees],Latitude [deg],Longitude [deg],Temp [deg C],Minutes,Direct Irradiance [W/m^2],Global Irradiance [W/m^2]
count,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06
mean,2.016271e+03,1.739722e+02,8.959047e+01,1.799902e+02,3.466432e+01,1.215564e+02,1.495251e+01,1.179271e+03,-5.483206e+03,2.015887e+02
std,3.012335e+00,1.061673e+02,3.875138e+01,1.000177e+02,7.350954e+00,2.028058e+01,1.186858e+01,6.923991e+02,2.322060e+04,3.137296e+02
min,2.011000e+03,1.000000e+00,6.900000e-02,0.000000e+00,2.076685e+01,7.621600e+01,-7.999000e+03,0.000000e+00,-9.999900e+04,-9.999900e+04
25%,2.013000e+03,8.300000e+01,5.895373e+01,8.950000e+01,3.541861e+01,1.080883e+02,8.750000e+00,5.590000e+02,0.000000e+00,-1.180400e+00
50%,2.018000e+03,1.650000e+02,8.930000e+01,1.799274e+02,3.610700e+01,1.151425e+02,1.606000e+01,1.159000e+03,0.000000e+00,3.293580e+00
75%,2.019000e+03,2.640000e+02,1.203495e+02,2.705000e+02,3.975685e+01,1.240800e+02,2.223000e+01,1.759000e+03,3.931140e+02,3.415630e+02
max,2.019000e+03,3.660000e+02,1.799000e+02,3.600000e+02,4.087600e+01,1.569229e+02,4.399000e+01,2.359000e+03,2.224100e+03,1.495270e+03

In [41]:
condensed_df.columns

Index(['Year', 'DOY', 'Zenith Angle [degrees]', 'Azimuth Angle [degrees]',
       'Latitude [deg]', 'Longitude [deg]', 'Temp [deg C]', 'Minutes',
       'Direct Irradiance [W/m^2]', 'Global Irradiance [W/m^2]'],
      dtype='object')

<h2> Changing Data Types </h2>

In [44]:
# convert type to numeric data
def type_set(df):
    '''
    takes a dataframe
    checks for date columns and converts them to integers
    converts all other columns to floats
    returns the converted dataframe
    '''
    for col in df.columns:
        df = df.astype({col : 'float'})
    df['Year'] = df['Year'].astype('str')
    df['DOY'] = df['DOY'].astype('str')
    return df

In [45]:
condensed_df = type_set(condensed_df)

In [46]:
condensed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2563479 entries, 0 to 2563478
Data columns (total 10 columns):
Year                         object
DOY                          object
Zenith Angle [degrees]       float64
Azimuth Angle [degrees]      float64
Latitude [deg]               float64
Longitude [deg]              float64
Temp [deg C]                 float64
Minutes                      float64
Direct Irradiance [W/m^2]    float64
Global Irradiance [W/m^2]    float64
dtypes: float64(8), object(2)
memory usage: 215.1+ MB

In [139]:
condensed_df.describe()

,Year,DOY,Zenith Angle [degrees],Azimuth Angle [degrees],Latitude [deg],Longitude [deg],Temp [deg C],Minutes,Battery [VDC],Direct Irradiance [W/m^2],Global Irradiance [W/m^2]
count,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06,2.563479e+06
mean,2.016271e+03,1.739722e+02,8.959047e+01,1.799902e+02,3.466432e+01,1.215564e+02,1.495251e+01,1.179271e+03,1.315120e+01,-5.483206e+03,2.015887e+02
std,3.012335e+00,1.061673e+02,3.875138e+01,1.000177e+02,7.350954e+00,2.028058e+01,1.186858e+01,6.923991e+02,4.682642e-01,2.322060e+04,3.137296e+02
min,2.011000e+03,1.000000e+00,6.900000e-02,0.000000e+00,2.076685e+01,7.621600e+01,-7.999000e+03,0.000000e+00,1.213000e+01,-9.999900e+04,-9.999900e+04
25%,2.013000e+03,8.300000e+01,5.895373e+01,8.950000e+01,3.541861e+01,1.080883e+02,8.750000e+00,5.590000e+02,1.283000e+01,0.000000e+00,-1.180400e+00
50%,2.018000e+03,1.650000e+02,8.930000e+01,1.799274e+02,3.610700e+01,1.151425e+02,1.606000e+01,1.159000e+03,1.306000e+01,0.000000e+00,3.293580e+00
75%,2.019000e+03,2.640000e+02,1.203495e+02,2.705000e+02,3.975685e+01,1.240800e+02,2.223000e+01,1.759000e+03,1.325000e+01,3.931140e+02,3.415630e+02
max,2.019000e+03,3.660000e+02,1.799000e+02,3.600000e+02,4.087600e+01,1.569229e+02,4.399000e+01,2.359000e+03,1.549000e+01,2.224100e+03,1.495270e+03

<h3> Dealing with Strange Readings </h3>

There do appear to be some erronius solar panel readings

In [47]:
condensed_df['Temp [deg C]'].sort_values(ascending=True).head(5)

487219    -7999.00
2160161     -28.88
2160162     -28.83
2160152     -28.78
2160160     -28.76
Name: Temp [deg C], dtype: float64

In [49]:
condensed_df.drop(condensed_df.index[487219], inplace=True)
condensed_df.reset_index(drop = True)
condensed_df['Temp [deg C]'].describe()

count    2.563478e+06
mean     1.495563e+01
std      1.076150e+01
min     -2.888000e+01
25%      8.750000e+00
50%      1.606000e+01
75%      2.223000e+01
max      4.399000e+01
Name: Temp [deg C], dtype: float64

In [50]:
condensed_df[condensed_df['Direct Irradiance [W/m^2]'] == condensed_df['Direct Irradiance [W/m^2]'].min()].head()

,Year,DOY,Zenith Angle [degrees],Azimuth Angle [degrees],Latitude [deg],Longitude [deg],Temp [deg C],Minutes,Direct Irradiance [W/m^2],Global Irradiance [W/m^2]
647489,2018.0,304.0,81.43226,242.61235,40.876,124.080,20.69,1620.0,-99999.0,-99999.0000
647490,2018.0,304.0,81.59854,242.78858,40.876,124.080,20.64,1621.0,-99999.0,-99999.0000
2414583,2013.0,323.0,163.07407,7.93150,36.282,76.216,12.30,0.0,-99999.0,-5.9519
2414584,2013.0,323.0,162.90117,11.91544,36.282,76.216,12.07,5.0,-99999.0,-5.7765
2414585,2013.0,323.0,162.66046,15.81208,36.282,76.216,11.83,10.0,-99999.0,-6.3029

In [51]:
print(condensed_df[condensed_df['Direct Irradiance [W/m^2]'] < -1].shape)
condensed_df['Direct Irradiance [W/m^2]'][condensed_df['Direct Irradiance [W/m^2]'] < -1] = -1
print(condensed_df[condensed_df['Direct Irradiance [W/m^2]'] < -1].shape)

(317662, 10)
(0, 10)

C:\Users\Mark\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [52]:
condensed_df[condensed_df['Global Irradiance [W/m^2]'] == condensed_df['Global Irradiance [W/m^2]'].min()].head()

,Year,DOY,Zenith Angle [degrees],Azimuth Angle [degrees],Latitude [deg],Longitude [deg],Temp [deg C],Minutes,Direct Irradiance [W/m^2],Global Irradiance [W/m^2]
647489,2018.0,304.0,81.43226,242.61235,40.876,124.08,20.69,1620.0,-1.0,-99999.0
647490,2018.0,304.0,81.59854,242.78858,40.876,124.08,20.64,1621.0,-1.0,-99999.0

In [53]:
print(condensed_df[condensed_df['Global Irradiance [W/m^2]'] < -1].shape)
condensed_df['Global Irradiance [W/m^2]'][condensed_df['Global Irradiance [W/m^2]'] < -1] = -1
print(condensed_df[condensed_df['Global Irradiance [W/m^2]'] < -1].shape)

(692266, 10)
(0, 10)

C:\Users\Mark\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [54]:
final_df = condensed_df

In [55]:
final_df.describe()

,Zenith Angle [degrees],Azimuth Angle [degrees],Latitude [deg],Longitude [deg],Temp [deg C],Minutes,Direct Irradiance [W/m^2],Global Irradiance [W/m^2]
count,2.563478e+06,2.563478e+06,2.563478e+06,2.563478e+06,2.563478e+06,2.563478e+06,2.563478e+06,2.563478e+06
mean,8.959049e+01,1.799902e+02,3.466432e+01,1.215564e+02,1.495563e+01,1.179271e+03,2.106644e+02,2.022111e+02
std,3.875137e+01,1.000177e+02,7.350955e+00,2.028059e+01,1.076150e+01,6.923992e+02,3.501749e+02,2.987023e+02
min,6.900000e-02,0.000000e+00,2.076685e+01,7.621600e+01,-2.888000e+01,0.000000e+00,-1.000000e+00,-1.000000e+00
25%,5.895377e+01,8.950000e+01,3.541861e+01,1.080883e+02,8.750000e+00,5.590000e+02,0.000000e+00,-1.000000e+00
50%,8.930000e+01,1.799275e+02,3.610700e+01,1.151425e+02,1.606000e+01,1.159000e+03,0.000000e+00,3.293565e+00
75%,1.203495e+02,2.705000e+02,3.975685e+01,1.240800e+02,2.223000e+01,1.759000e+03,3.931140e+02,3.415623e+02
max,1.799000e+02,3.600000e+02,4.087600e+01,1.569229e+02,4.399000e+01,2.359000e+03,2.224100e+03,1.495270e+03

<h3> Convert to Datetime object </h3>

In [ ]:
# pseudo code for conversion
# because the month and day are expressed in a unique DOY column, for now, converting to a datetime is more trouble than it's worth.
# minute of day can easily be plucked  from the weather API in a later module and might as well be left in

# final_df['Date'] = final_df[]
# df['Date'] + ' ' + df['Time']
# Out = 01-06-2013 23:00:00

In [57]:
final_df.drop(['Year', 'DOY'], axis = 1, inplace = True)

In [58]:
final_df.to_csv('Final_df.csv', sep='\t', encoding='utf-8', index = False)

In [59]:
final_df.head(2)

,Zenith Angle [degrees],Azimuth Angle [degrees],Latitude [deg],Longitude [deg],Temp [deg C],Minutes,Direct Irradiance [W/m^2],Global Irradiance [W/m^2]
0,124.102,358.791,39.75685,104.62025,18.08,0.0,-1.0,-1.0
1,124.105,359.082,39.75685,104.62025,18.14,1.0,-1.0,-1.0

this info could be a good start

results from this data should output a plot of predicted W/m^2 for an ideally placed panel in the requested area.  Those results should be checked against a user defined avg bill assuming market standards for inflation and cost of installation.

how can we do...shade analysis.  One way would be to check google images for nearby trees. if trees are present output a warning...this is a stretch goal of mine with this project

educational material should explain the benefits of a solenoid and a house battery and provide links to both for further education.

In [88]:
joined_dropped_df[(joined_dropped_df['DOY'] == 1) & (joined_dropped_df['Minutes']  == 9
                                                    )]

,Year,DOY,Zenith Angle [degrees],Azimuth Angle [degrees],location,Latitude [deg],Longitude [deg],Temp [deg C],Minutes,Direct Irradiance [W/m^2],Global Irradiance [W/m^2]
210248,2019,1,163.18900,5.71705,La_Ola_Lanai_Hawaii,NaN,NaN,-18.630,9.0,-0.74712,-1.385790
735799,2019,1,161.99574,352.02931,La_Ola_Lanai_Hawaii,NaN,NaN,1.289,9.0,0.00000,-4.353100
1262839,2019,1,165.84600,24.51640,La_Ola_Lanai_Hawaii,NaN,NaN,3.844,9.0,0.00000,-3.092640
1605554,2012,1,174.30000,245.40000,La_Ola_Lanai_Hawaii,20.7669,-156.923,17.310,9.0,0.00000,0.282349
2139552,2013,1,167.50000,352.20000,La_Ola_Lanai_Hawaii,NaN,NaN,-8.600,9.0,0.00000,0.000000

In [72]:
test = joined_dropped_df['location'] = 'La_Ola_Lanai_Hawaii'
test_day = test['DOY'] == 1